@import "./abstracts/";
@import "./components/";

// Reset

*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 color: inherit;
}

p {
 max-width: 60ch;
}

a {
 text-decoration: none;
}

ul {
 list-style-type: none;
}

// General Styles

body {
 line-height: 1.5;
 @include google-font(Montserrat);
}

#root {
 background-color: darkred;
}

.layout>section, .layout>.dash-layout {
 max-width: 1400px;
 min-height: 100vh;
 margin: 0 auto;
 padding: 3rem;

 display: flex;
 flex-direction: column;
 justify-content: space-between;
 gap: 1rem;
 background-color: orange;
}