@import "./abstracts/";
@import "./components/";

// Reset

*,
*::before,
*::after {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 color: inherit;
}

p {
 max-width: 60ch;
}

a {
 text-decoration: none;
}

ul {
 list-style-type: none;
}

// General Styles

::selection,
::-moz-selection {
 color: white;
 background: $accent-color;
}

body {
 line-height: 1.5;
 @include google-font(Montserrat);
}

.layout {
 &>section {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  position: relative;

  header,
  footer,
  main {
   padding-inline: clamp(1rem, 10vw, 6rem);
  }
 }
}