.nowrap {
 white-space: nowrap;
}

.btn {
 display: block;
 width: fit-content;
 padding: .75rem 1rem;
 outline: 1px solid black;
 cursor: pointer;
 @include google-font("Montserrat");
 @include set-theme(transparent);

 &:hover {
  @include set-theme(black);
 }

 &:focus {
  @extend .btn;
  @include set-theme(black);
 }
}

button {
 border: 0;
 width: 50px;
 cursor: pointer;
 aspect-ratio: 1 / 1;

 @include google-font("Montserrat");
 @include set-theme(transparent);

 &:hover {
  @include set-theme(black);
 }

 &:focus {
  @include set-theme(black);
 }
}