.nowrap {
 white-space: nowrap;
}

.btn, button {
 display: block;
 width: fit-content;
 padding: .75em 1em;
 outline: 1px solid black;
 border: 0;
 cursor: pointer;
 @include google-font("Montserrat");
 @include set-theme(transparent);

 &:hover {
  @include set-theme(black);
 }

 &:focus {
  @extend .btn;
  @include set-theme(black);
 }
}