.dash-layout>header {
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;

 padding: 1rem clamp(1rem, 10vw, 6rem);

 background-color: $secondary-color;
 color: $primary-color;

 h1>a {
  &:hover {
   opacity: .7;
  }

  &:focus {
   outline: 0;
   opacity: .7;
   text-decoration: underline;
  }
 }

 nav {
  display: flex;
  gap: 1.5rem;

  button {
   outline: none;
   border-radius: 50%;
   font-size: 1rem;
  }
 }
}