.dash-footer {
 margin-top: auto;
 background-color: $secondary-color;
 color: $primary-color;

 padding: .25rem clamp(1rem, 10vw, 6rem);

 display: flex;
 place-items: center;
 gap: 0 2rem;

 &>div {
  display: flex;
  flex-wrap: wrap;
  gap: 0 2rem;

  &>p {
   width: fit-content;
  }
 }

 button {
  outline: none;
  border-radius: 50%;
  font-size: 1rem;
 }
}