.dash-header__container {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;

 padding: 1rem 6rem;

 background-color: $secondary-color;
 color: $primary-color;

 nav {
  display: flex;
  gap: 1rem;

  button {
   outline: none;
   border-radius: 50%;
   font-size: 1rem;
  }
 }
}