.dash-layout {
 max-width: 1400px;
 height: 100vh;

 margin: 0 auto;

 display: flex;
 flex-direction: column;
 justify-content: space-between;

 position: relative;

 form {
  overflow-y: auto;
  padding: 1rem clamp(1rem, 10vw, 6rem);
 }

 main {
  position: relative;
  overflow-y: auto;
  padding: 1rem clamp(1rem, 10vw, 6rem);
 }

 section { 
  overflow-y: auto;
  padding-inline: clamp(1rem, 10vw, 6rem);
 }
}