.dash-footer {
 margin-top: auto;
 background-color: $secondary-color;
 color: $primary-color;

 padding: 1rem 6rem;

 display: flex;
 place-items: center;
 flex-wrap: wrap;
 gap: 0 2rem;

 button {
  outline: none;
  border-radius: 50%;
  font-size: 1rem;
 }
}