.edit-user-form {
 display: grid;
 gap: 2rem;

 header {
  display: grid;
  gap: .75rem;

  div {
   display: flex;
   gap: 1rem;

   button {
    border: 1px solid $accent-color;
    border-radius: 50%;
    font-size: 1rem;
   }
  }
 }

 .username-input-joiner {
  display: grid;
  gap: 1rem;

  input {
   display: block;
   border: 1px solid $accent-color;
   
   padding: .5rem;
   background-color: transparent;

   font-family: unset;
   font-size: 1rem;
   font-weight: 300;

   width: 100%;
   max-width: 400px;

   &:focus {
    outline: 1px solid black;
   }
  }
 }

 .password-input-joiner {
  display: grid;
  gap: 1rem;

  input {
   display: block;
   border: 1px solid $accent-color;
   
   padding: .5rem;
   background-color: transparent;

   font-family: unset;
   font-size: 1rem;
   font-weight: 300;

   width: 100%;
   max-width: 400px;

   &:focus {
    outline: 1px solid black;
   }
  }
 }

 .assigned-roles-joiner {
  display: flex;
  gap: 1rem;

  select {
   background-color: unset;
   padding: .5rem;

   font-family: "Montserrat";
   font-size: 1rem;
   border: 1px solid $accent-color;
   overflow-y: visible;

   &:focus {
    outline: 1px solid black;
   }
  }
 }
}