.public header {
 display: flex;
 align-items: center;
 gap: 1rem;

 button {
  outline: none;
  border-radius: 50%;
  font-size: 1rem;
 }
}

.login-form {
 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 gap: 1rem;

 .form-input {
  display: block;
  outline: none;
  border: 0;
  border-bottom: 1px solid $accent-color;
  background-color: transparent;

  font-family: unset;
  font-size: 1rem;
  font-weight: 300;
  padding: 0.75rem 0.5rem;

  width: 100%;
  max-width: 400px;

  &:focus {
   background-color: rgb(244, 244, 244);
  }
 }

 .login-checkbox-joiner {
  margin: 0.75rem 0 0.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  user-select: none;

  input {
   accent-color: $accent-color;
  }
 }

 button {
  aspect-ratio: unset;

  display: block;
  width: fit-content;
  padding: 0.75rem 1rem;
  outline: 1px solid $accent-color;
  cursor: pointer;
  @include google-font("Montserrat");
  @include set-theme(transparent);

  &:hover {
   @include set-theme($accent-color);
  }

  &:focus {
   @extend .btn;
   @include set-theme($accent-color);
  }
 }
}
