.new-note-form {
 display: grid;
 gap: 2rem;

 header {
  display: grid;
  gap: .75rem;

  button {
   border: 1px solid $accent-color;
   border-radius: 50%;
   font-size: 1rem;
  }
 }

 .title-input-joiner {
  display: flex;
  gap: 1rem;

  input {
   display: block;
   border: 1px solid $accent-color;
   
   padding: .5rem;
   background-color: transparent;
 
   font-family: unset;
   font-size: 1rem;
   font-weight: 300;
 
   width: 100%;
   max-width: 400px;

   &:focus {
    outline: 1px solid black;
   }
  }
 }

 .textarea-joiner {
  display: flex;
  gap: 1rem;

  textarea {
   display: block;
   border: 1px solid $accent-color;
   
   padding: .5rem;
   background-color: transparent;
 
   font-family: unset;
   font-size: 1rem;
   font-weight: 300;
 
   width: 100%;
   max-width: 400px;
   height: 120px;

   resize: both;

   &:focus {
    outline: 1px solid black;
   }
  }
 }

 .assigned-to-joiner {
  display: flex;
  gap: 1rem;

  select {
   
   background-color: unset;
   
   font-family: "Montserrat";
   font-size: 1rem;
   border: 1px solid $accent-color;

   padding-left: .75rem;
  }
 }
}