.public {
 display: flex;
 flex-direction: column;
 gap: 1rem;

 address {
  a {
   text-decoration: underline;
  }
 }

 header {
  padding: 1rem;
  background-color: $secondary-color;
  color: $primary-color;
 }

 main {
  padding: 1rem;
 }

 footer {
  margin-top: auto;
  padding: 1rem;
 }
}