.welcome {
 display: grid;
 gap: 1.5rem;

 padding: 1rem;

 .welcome-text-container {
  display: grid;
  gap: 1.5rem;
 }

 .welcome-link-list {
  display: grid;
  gap: 0.5rem;

  a {
   &::before {
    content: "→";
    display: inline-block;
    margin-right: 1rem;
   }

   &:hover {
    text-decoration: underline;
   }

   &:focus {
    text-decoration: underline;
   }
  }
 }
}
