.public {
 min-height: 100vh;

 padding: 1.8rem;

 display: flex;
 flex-direction: column;
 justify-content: space-between;
 gap: 1rem;

 header {
  padding: 0.75rem;
 }

 main {
  padding: 0.75rem;
  flex-grow: 2;
 }

 footer {
  padding: 0.75rem;
 }

 a {
  text-decoration: none;
  color: inherit;
 }

 address {
  a {
   text-decoration: underline;
  }
 }
}